body {
	font-family: "Ink Free", 'icons';
}

a {
	-webkit-transition: all ease-in .15s;
	-moz-transition: all ease-in .15s;
	-ms-transition: all ease-in .15s;
	-o-transition: all ease-in .15s;
	transition: all ease-in .15s;
}

th {
	text-align: center;
}

@media (max-width: 991px) {
	.container {
		padding-left: 24px;
		padding-right: 24px;
	}
}

@media (max-width: 767px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.page-section {
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 2px solid #edeff2;
}

@media (max-width: 991px) {
	.page-section {
		padding-top: 25px;
		padding-bottom: 35px;
	}
}

.location-header {
	padding: 0 0 10px 0;
}

.location-header .h4 {
	margin: 0;
}

.location-header .h4 small {
	display: block;
	padding: 5px 0 0 0;
	color: #919699;
	font-size: 13px;
	font-weight: 300;
	text-transform: none;
}

.location-info {
	margin: 0 0 -10px 0;
	font-size: 15px;
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateX(0) translateY(0);
	transform: translateX(0) translateY(0);
	-webkit-transition: all ease-in .25s, transform .6s cubic-bezier(0.165, 0.84, 0.44, 1);
	-moz-transition: all ease-in .25s, transform .6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all ease-in .25s, transform .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.location-info>li {
	margin: 0;
}

.location-header>i {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 20px;
}

.location-progress .progress {
	margin: 0 0 10px 0;
}

.progress {
	background-color: #d5dade;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.progress-bar {
	background: linear-gradient(to right, #44ce78 0%, #43ce9f 100%)!important;
}

.progress-bar-danger {
	background: #d9534f!important;
}

.progress-bar-warning {
	background: #f0ad4e!important;
}

.progress-sm {
	height: 1px;
}

.table {
	font-size: 1.4rem;
	font-weight: 300;
}

.table>thead>tr>th:first-child {
	padding-left: 5px;
}

.table>thead>tr>th:last-child {
	padding-right: 5px;
}
